.header-banner {
	width: 100%;
	height: 150px;
	background-color: #ddd;		
	background-size: 150px;
	background-repeat: no-repeat;
	background-position: center;
}

nav.navbar {
	margin-bottom: 0;
	border-radius: 0;

	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	@media(min-width: $screen-sm-min) {
		position: inherit;
	}

	&.navbar-default {
		z-index: 1;
		background-color: $main-color-dark;
		font-family: 'Open Sans', sans-serif;
		font-size: 12px;
		border: none;		
		box-shadow: 0 2px 3px rgba(#000, .1);

		button.navbar-toggle {
			border-color: $main-color;

			&:hover, &:focus {
				background-color: $main-color-darker;
			}

			.icon-bar {
				background-color: white;
			}
		}

		a.navbar-brand {
			padding: 0 15px;
			display: block;

			float: none;
			@media(min-width: $screen-sm-min) {
				float: inherit;
			}

			div {				
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				width: 100px;
				height: 100%;
				margin: 0 auto;
				
				opacity: 1;
				@media(min-width: $screen-sm-min) {
					opacity: 0;
				}

				transition: opacity .25s;
			}
		}

		&.navbar-fixed-top {
			position: fixed;

			a.navbar-brand {
				div {
					opacity: 1;
				}
			}
		}

		@media(min-width: $screen-md-min) {
			.navbar-header {
				width: 170px;
			}
		}

		.navbar-collapse {
			background-color: darken($main-color-dark, 4%);
			border: none;
			box-shadow: none;


			@media(min-width: $screen-sm-min) {
				background-color: transparent;				
			}

			.navbar-center {		
				font-size: 14px;
			}

			.nav.navbar-nav {
				@media(min-width: $screen-md-min) {
					&:last-child {
						width: 170px;
					}
				}

				&.navbar-right.visible-sm-inline-block {
					li.open > a {
						background-color: $main-color-darker;
					}
				}

				li {
					a {
						padding: 15px 10px;
						color: white;
					}

					&.active {
						> a {
							background-color: $main-color-dark;

							@media(min-width: $screen-sm-min) {
								background-color: transparent;
								// color: $main-color;
								padding-bottom: 11px;
								border-bottom: 4px solid white;
							}
						}
					}

					&.separator {
						height: 30px;
						margin: 10px 10px;
						border-left: 1px solid lighten($gray-light, 30%);
					}

					&.contact {				
						a {
							color: $main-color;
						}

						@media(min-width: $screen-md-min) {
							a {
								padding-right: 5px;
								font-size: 14px;
								color: white;
							}

							&:last-child a {
								padding-right: 15px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min) {
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
		padding: 0;
	}
}