doctype html

html
	head
		//- base(href='/mercado-amigo/')

		block title
			title Mercado Amigo

		meta(name='format-detection' content='telephone=no')
		meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(charset='utf-8')

		link(rel='shortcut icon' href='./images/favicon.ico' type='image/x-icon')

		// Stylesheets
		link(rel='stylesheet' href='./styles/vendor.min.css')
		link(rel='stylesheet' href='./styles/main.css')

	body(ng-app='siteExpress')

		#loading(ng-show='loading.isLoading()')
			.spinner(style='transform: scale(2)')
				.rect1
				.rect2
				.rect3
				.rect4
				.rect5

		block header

		block page

		block footer

		script(src='./scripts/vendors.min.js')
		script(src='./scripts/app.min.js')
