.container
	.row.offset-top-60.offset-bottom-60
		.col-xs-12.col-sm-6.col-md-4
			.row.form-contact
				.col-xs-12
					h2.text-light
						| {{strings.pages.contact.form.title}}
				
				.col-xs-12.offset-top-30(ng-if='strings.pages.contact.form.field1.active')
					h4.text-light
						| {{strings.pages.contact.form.field1.name}}
					input.form-control(type='text')
				
				.col-xs-12.offset-top-15(ng-if='strings.pages.contact.form.field2.active')
					h4.text-light
						| {{strings.pages.contact.form.field2.name}}
					input.form-control(type='text')

				.col-xs-12.offset-top-15(ng-if='strings.pages.contact.form.field3.active')
					h4.text-light
						| {{strings.pages.contact.form.field3.name}}
					input.form-control(type='text')

				.col-xs-12.offset-top-15(ng-if='strings.pages.contact.form[\'message-field\'].active')
					h4.text-light
						| {{strings.pages.contact.form['message-field'].name}}
					textarea.form-control(type='text' rows='8')

				.col-xs-12.offset-top-30
					button.btn.btn-primary.btn-block.btn-lg(type='button') 
						span.fa.fa-send-o
						|  Enviar

		.col-xs-12.col-sm-6.col-md-8
			ng-map#map(default-style="false" center='{{lattitude}},{{longitude}}' zoom='15' scrollwheel='false')
				marker(id='#marker' position='{{lattitude}},{{longitude}}' on-click='contact.map.showInfoWindow("#info-window")')
				info-window(id='#info-window' visible-on-marker='#marker')
					div(ng-non-bindable='')
						h4.text-gray-dark {{strings.pages.contact.map.address.name}}
						p.text-gray-dark {{strings.pages.contact.map.address.line1}}
						p.text-gray-dark {{strings.pages.contact.map.address.line2}}
						p.text-gray-dark {{strings.pages.contact.map.address.line3}}