nav.navbar.navbar-default.navbar-fixed-top(ng-class='{"retreat": currentPath != "/"}')
	.container
		.navbar-header
			button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				span(ng-if='!strings.website["logo-url"]') [ Logo ]
				img.img-responsive(ng-src='{{strings.website["logo-url"]}}')

		#navbar.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-right
				li(ng-repeat='item in strings.header.navbar.items track by $index' ng-class='{"active": $index == 0}' name='{{item.name}}')
					a(ng-href='{{item.href}}') {{item.title}}
				li.text-center
					a.social(ng-href='{{strings.website.facebook}}' target='_blank' ng-if='strings.website.facebook')
						i.fa.fa-facebook

					a.social(ng-href='{{strings.website.twitter}}' target='_blank' ng-if='strings.website.twitter')
						i.fa.fa-twitter

					a.social(ng-href='{{strings.website["google-plus"]}}' target='_blank' ng-if='strings.website["google-plus"]')
						i.fa.fa-google-plus

					a.social(ng-href='{{strings.website.youtube}}' target='_blank' ng-if='strings.website.youtube')
						i.fa.fa-youtube

#carousel-header.carousel.slide(data-ride='carousel' ng-show='currentPath == "/"')
	//- Wrapper for slides
	.carousel-inner(role='listbox')
		.item(ng-repeat="slide in strings.header.carousel.slides track by $index" ng-class='{"active": $index == 0}')
			div
				.picture(ng-parallax pattern="slide['image-url']" speed='0')
				.cover
					h2.title.text-center
						| {{slide.title}}
					p.subtitle.text-center
						| {{slide.subtitle}}
					p.text-center
						a.btn.btn-primary.btn-lg.btn-outline.text-white(ng-href='{{slide.button.href}}' ng-if='slide.button.enabled') 
							| {{slide.button.caption}}

	//- Controls
	a.left.carousel-control(data-target="#carousel-header" role="button" data-slide='prev')
		span.fa.fa-angle-left(aria-hidden='true')
	a.right.carousel-control(data-target="#carousel-header" role="button" data-slide='next')
		span.fa.fa-angle-right(aria-hidden='true')