.footer
	.container
		.row
			.col-xs-12.col-sm-6
				a(href='/') [ Logo ]
			.col-xs-12.col-sm-6
				a.pull-right(href='http://futuraagencia.com.br' target='_blank')
					span.fa.fa-cube
					|  Futura Agência